* {
    background-color: #B7B5B5;
}

#card_1 {
    border: 1px solid #d3d3d3;
    width: 40%;
    left: 29%;
    position: relative;
    margin-top: 6%;
}
  
#card_1  .bg-img {
    background-size: cover;
    min-height: 180px;
    background-position: center;
    background-color: #42515A;
    border-radius: 5% 5% 0% 0%;
  }
#card_1 .content {
     padding-top: 1%;
     justify-content: center;
     border-radius: 0% 0% 5% 5%;
 } 
#card_1  .content, #card_1 .content h4 {
    padding: 15px;
    background-color: #C74385;
    color: white;
    display: grid;
}
  
#card_1  button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
  }